@font-face{
    font-family: Worksans;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

body{
    background-color: rgb(24, 23, 23)!important;
    justify-content: center;
    align-items: center;
    font-family: Worksans!important;
}
.area__carroussel{
    margin-top: 70px;
}

.area__carroussel img{
    margin-left: 0%;
    width: 180px!important;
    height: 280px!important;
    border-radius: 5%;
    
}

.obras-home{
    text-align: center;
    font-size: 12px;
    float: left;
    color: aliceblue;
    
}

.row {
    padding-top: 20px;
}

.obras-home .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.obras-home .col-sm-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.obras-home img{
    width: 120px!important;
    height: 160px!important;
    border-radius: 5%;
}

.obras-home img:hover{
    transition: 300ms;
    transform: scale(1.1);
}

.obras-home .botoes__home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px!Important;
    text-decoration: none;
    border: 1px solid;
    border-color: rgb(121, 122, 122);
    border-radius: 8%;
    color: aliceblue;
    margin-top: 10px;   
}

.obras-home .botoes__home:hover{
    transition: 300ms;
    transform: scale(1.1);
}
